

@{
    ViewData["Title"] = "List";
}
<div class="container-xxl bg-light p-0">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row ">
                <div class="col-md-3">
                    <div>
                        <div class="card text-primary bg-dark mb-3" style="max-width: 20rem;">
                            <br>
                            <h5 class="card-title text-primary text-center">VVip</h5>
                            <hr />
                            <div>
                                <img class="card-img-top rounded-circle me-lg-2" src="/img/UID47.jpg" alt="UID47">
                            </div>
                            <hr />
                            <div class="card-body">
                                <h4 class="card-title text-primary text-center">戴樂古 ． 花兒</h4>
                            </div>
                        </div>

                        <!--============================================這邊加入超連結======================================================================================-->
                        <div class="card text-primary bg-dark mb-3" style="max-width: 20rem;">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-primary">
                                    @Html.ActionLink("會員資料管理", "List", "Customer", null, new { /* id=item.PrimaryKey */ })
                                </li>
                                <li class="list-group-item">
                                    @Html.ActionLink("修改密碼","", new { /* id=item.PrimaryKey */ })
                                </li>
                                <li class="list-group-item list-group-item-primary">
                                    @Html.ActionLink("訂單管理", "List","Order",null, new { /* id=item.PrimaryKey */ })
                                </li>
                                <li class="list-group-item">
                                    @Html.ActionLink("我的收藏", "CollectionList", "Customer", null ,new { /* id=item.PrimaryKey */ })
                                </li>
                                <li class="list-group-item list-group-item-primary">
                                    @Html.ActionLink("我的評論", "Create","Comment",null, new { /* id=item.PrimaryKey */ })
                                </li>
                                <li class="list-group-item">
                                    @Html.ActionLink("刪除帳戶與個人資料", "Delete", new { /* id=item.PrimaryKey */}, new { onclick = "return confirm('確定要刪除嗎?')" })
                                </li>
                            </ul>
                        </div>
                        <!--============================================這邊加入超連結======================================================================================-->
                    </div>
                </div>
                <div class="col-md-9">
                    <form>
                        <!--============================================這邊加入其他頁面======================================================================================-->

                        <div class="border">
                            <div class="card-header bg-dark">
                                <h1 class="text-primary">帳號設定</h1>
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="true" href="#">基本資料</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="true" href="#">收藏管理</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="true" href="#">訂單資料</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="true" href="#">評論資料</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="border-top-0">
                                <div class="bg-white shadow" style="padding: 35px;">
                                    <div class="tab-content">
                                        @*// HTML 死資料 //*@

                                        <div class="container px-4">
                                            <div class="row gx-5">
                                                <div class="col">
                                                    <div class="p-3 border bg-primary">
                                                        <label for="exampleFormControlInput1" class="form-label text-white"> 姓氏 </label>
                                                        <br />
                                                        <input type="text" class="text-primary" id="FLastname" placeholder="戴樂古">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="p-3 border bg-primary">
                                                        <label for="exampleFormControlInput1" class="form-label text-white"> 名字 </label>
                                                        <br />
                                                        <input type="text" class="text-primary" id="FFristname" placeholder="花兒">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="p-3 border bg-primary">
                                                        <label for="exampleFormControlInput1" class="form-label text-white"> 性別 </label>
                                                        <br />
                                                        <input type="text" class="text-primary" id="FGender" placeholder="女">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container px-4">
                                            <div class="row gx-5">
                                                <div class="col">
                                                    <div class="p-3 border bg-primary">
                                                        <label for="exampleFormControlInput1" class="form-label text-white"> 居住城市 </label>
                                                        <br />
                                                        <input type="text" class="text-primary" id="FCityId" placeholder="臺北市">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="p-3 border bg-primary">
                                                        <label for="exampleFormControlInput1" class="form-label text-white"> 生日 </label>
                                                        <br />
                                                        <input type="text" class="text-primary" id="FBirth" placeholder="1990-10-27">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="p-3 border bg-primary">
                                                        <label for="exampleFormControlInput1" class="form-label text-white"> 手機號碼 </label>
                                                        <br />
                                                        <input type="text" class="text-primary" id="FPone" placeholder="0931000013">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container px-4">
                                            <div class="row gx-5">
                                                <div class="col">
                                                    <div class="p-3 border bg-primary">
                                                        <label for="exampleFormControlInput1" class="form-label text-white"> 通訊地址 </label>
                                                        <br />
                                                        <input type="text" class="form-control text-primary" id="FAddress" placeholder="106 臺北市大安區安東街15號">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container px-4">
                                            <div class="row gx-5">
                                                <div class="col">
                                                    <div class="p-3 border bg-primary">
                                                        <label class="form-label text-white"> E-Mail </label>
                                                        <br />
                                                        <input type="text" class="form-control text-primary" id="FEmail" placeholder="FleurIsabellaDelacour@gmail.com" aria-label="default input example">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <input type="submit" value="儲存並修改" class="btn btn-primary " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form> <!--============================================這邊加入其他頁面=========================================================================END=======-->
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@
