@model forpagedemo.Models.FeedbackManagement

@{
    ViewData["Title"] = "Create";
}

<h1>新增評論</h1>

<h4>評論填寫</h4>
<hr />
<style>
    .x2 {
     
    }

    img {
        max-width: 15%;
        max-height: 15%;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create " enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @*<label asp-for=""="CustomerId" class="control-label"></labeltype>*@
                <input type="hidden" asp-for="CustomerId" class="form-control" id="x" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="x2">
                <img id="img1" src="/img/star.gif" />
                <img id="img1" src="/img/star.gif" />
                <img id="img1" src="/img/star.gif" />
                <img id="img1" src="/img/star.gif" />
                <img id="img1" src="/img/star.gif" />

                <p id="a1"></p>
            </div>

            <div class="form-group">
                <label asp-for="FeedbackContent" class="control-label">評論內容</label>
                <input asp-for="FeedbackContent" class="form-control" />
                <span asp-validation-for="FeedbackContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label  asp-for="Ranking" class="control-label"></label>*@
                <input type="hidden" asp-for="Ranking" class="form-control" id="inputRanking" />
                <span asp-validation-for="Ranking" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<label asp-for="ProductsId" class="control-label"></label>*@
                <input type="hidden" asp-for="ProductsId" class="form-control" id="y" />
                <span asp-validation-for="ProductsId" class="text-danger"></span>
            </div>



            <div class="form-group">
                @*<label asp-for="FeedbackDate" class="control-label"></label>*@
                <input @*asp-for="FeedbackDate"*@ name="FeedbackDate" type="hidden" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="FeedbackDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">產品照片</label>
                <input type="file" name="photo" class="form-control" />
            </div>
            <div class="form-group">
                <a class="btn btn-primary" href="~/Comment/List">登入</a>
            </div>
        </form>

    </div>
    <div id="div1">
        <div class="card border-warning mb-3" style="max-width: 840px; height: 270px; background-color: white">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/img/165415514551635_P16927548.jpg" class="img-fluid rounded-start" alt="..." style="height:270px;display:block; margin:auto;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="display:inline-block">【4DX】怪獸與鄧不利多的秘密</h5>     <i class="fa-solid fa-heart" style="color:red" id="heart"></i>
                        <p class="card-text">《怪獸與鄧不利多的秘密》是一部2022年英美合拍奇幻電影，由大衛·葉慈執導，J·K·羅琳和史提夫·克羅夫斯共同撰寫劇本。該片改編自羅琳於2001年的小說《怪獸與牠們的產地》，為2018年電影《怪獸與葛林戴華德的罪行》的續集以及《怪獸系列電影》的第三部電影，同時亦是整個「魔法世界」的第十一部電影。</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        &nbsp;
                        <label>1000人已訂購</label>  <i class="fa-solid fa-fire"></i> <label>NT280</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="List">返回評論列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



<script src="~/js/jquery-3.6.0.min.js"></script>
<script>
    let flag = true;

    let count = 0;
    $("img").mouseenter(function () {
        if (flag) {
            $(this).attr("src", "@Url.Content("/img/chngstar.gif")").prevAll().attr("src", "@Url.Content("/img/chngstar.gif")");

            count = $(this).index();
            $("#a1").text(`評分中.....${count + 1}分`);
        }
    })
    $("img").mouseleave(function () {
        if (flag) {
            $(this).attr("src", "@Url.Content("/img/star.gif")").siblings().attr("src", "@Url.Content("/img/star.gif")");
        }
    })

    $("img").click(function () {
        flag = false;

        count = $(this).index();
        if (!flag) {
            $("#a1").text(`你給${count + 1}分`);
            $("#inputRanking").val(count + 1);
        }
       

    })
    $("img").dblclick(function () {
        flag = true;
        mouseleave();
    })
    $("#x").val(10);
    $("#y").val(1);
   



</script>
}
@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@