@model IEnumerable<prjShoppingCart.ViewModels.ShoppingCartItem>

@{
    ViewData["Title"] = "購物車";
}
<div class="col-md-2"></div>
<div class="col-md-8" style="margin: auto">

    <div style="margin:1em 0 1em 0">

        <span style="font-weight:bold">
            購物車
        </span>
        <i s class="fa-solid fa-angle-right"></i>
        <span style="font-weight:lighter">
            填寫資料與付款
        </span>
        <i class="fa-solid fa-angle-right"></i>
        <span style="font-weight:lighter">訂購完成</span>

    </div>


    <div class="card card p-5" style="width: 100%">

        <h1>購物車</h1>
        <table class="table  data-table2" style="min-width: 100%">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BuyDay)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            <span class="form-check" style="float:left">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                            </span>
                            <img src="@Url.Content($"~/ShoppingCartImgs/{item.Name}.jpg")" />
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BuyDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <i style="margin-right:10px" id="heart" class="fa-regular fa-heart"></i>

                            <i class="fa-regular fa-trash-can"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="offset-1"></div>
        <p><input type="checkbox" class="form-check-input" name="chkAll" id="chkAll"  />全選 | 刪除已選項目</p>   
        <div style="display:flex;justify-content:end">
            <a href="@Url.Content("~/ShoppingCart/Pay")"><input class="btn btn-light btn-lg" style="font-family:Arial;color:brown" type="submit" name="btnPay" value="結帳" /></a>
        </div>
    </div>
        <div class="col-md-2"></div>
       
</div>
    @*Bottom*@
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div @*class="col-lg-10 border rounded p-1"*@>
                <div @*class="border rounded text-center p-1"*@>
                    <div class="bg-transparent rounded text-center p-5">
                        <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                        <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                            @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Bottom*@

@section Scripts{ 
    
    <script>
        const chkAll = $("#chkAll");
        let AllCheckFlag = false;
        const heart = document.querySelectorAll("#heart");
        heart.forEach(function (data) {
            console.log(data);

            data.addEventListener("click", function()  {

                $(this).toggleClass("fa-regular fa-solid")
                    
            })


        })
        

        

        const chkAllButton = document.querySelectorAll('input[type="checkbox"]');
        chkAll.click(function (e) {

            if (AllCheckFlag == false) {

                for (let i = 0; i < chkAllButton.length - 1; i++) {

                    chkAllButton[i].setAttribute("checked", "true");
                    
                }
                
                AllCheckFlag = true;
            }
            else {
                for (let i = 0; i < chkAllButton.length - 1; i++) {

                    chkAllButton[i].removeAttribute("checked");

                }
                AllCheckFlag = false;
            }
            


        });



      


    </script>


}}