
@{
    ViewData["Title"] = "展覽列表";
}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-5" style="background-image: url('/img/Foodh.jpg');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">展覽列表</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>請選擇縣市</option>
                                <option value="1">台北</option>
                                <option value="2">台南</option>
                                <option value="3">高雄</option>
                                <option value="4">台東</option>
                                <option value="5">雲林</option>
                                <option value="6">台中</option>

                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>評價高到低</option>
                                <option value="1">評價低到高</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>人氣高到低</option>
                                <option value="1">人氣低到高</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100">搜尋</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
<!-- Room Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">商品列表</h6>
            <h1 class="mb-5">展覽<span class="text-primary text-uppercase">列表</span></h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="row g-4">
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/exhibition1.jpg" alt="" />
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">原售價打 XX 折</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">普立茲獎80週年展</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart fa-regular" style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                橫跨80年、138 幀得獎作品就在普立茲新聞攝影獎80週年展，今年暑假將於華山1914文化創意產業園區正式開展，
                                「靜止的瞬間是很特別的，那一個瞬間，觸動了無數人心。」―卡洛·古茲(𝑪𝒂𝒓𝒐𝒍 𝑮𝒖𝒛𝒚)，1986、1995、2000、2011 年普立茲新聞攝影獎得獎得主
                                ，本次特別設立「疫情下的世界」專區，讓同受困境中的臺灣人可以透過紀實照片看到各國人們的疫情生活，也學習與之共處
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Exhibit", "Products", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Coupon", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/exhibition2.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">高畑勲展</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                這次展覽是由東京國立近代美術館和吉卜力工作室共同策劃，展件高達2,000件，自2019年開始於日本巡迴展出，完整呈現高畑勲導演對日本動畫的影響力及與吉卜力工作室密不可分的關係；從生平介紹到創作起源、故事靈感、分鏡手稿及影像，逐一透析大師的內心，了解他對作品的執著與堅持，讓日本的動畫樣貌進化並發揮影響力，一覽這位天才導演留給我們最後的禮物。
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/exhibition3.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">侏羅紀Ｘ恐龍3.0 台中站</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                寬宏藝術再創「侏羅紀Ｘ恐龍3.0」一探群體生活中的恐龍在爭奪、廝殺中，如何達到平和共處的生存空間？我們又將如何逃脫這慌亂的世界？
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/exhibition4.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">齊柏林空間展覽 | 映河</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                映河 Reflection of Rivers

                                台灣，我們的島嶼山高水急、降雨豐枯懸殊， 水流時而傾瀉如白浪、時而靜止如碧鏡。 永不凍結的台灣河流是場無窮無常的變化。

                                然而___河流原初是沒有顏色的 看見的顏色是光學的反射、是環境的映現。

                                河流原初是沒有形狀的 看見的形狀是與地貌的共構、是與城市的交融。

                                河流原初是沒有情緒的 憤怒是來自土石的破壞、傷心是源於污水的注入。

                                奔騰山雲的映照，溫柔日月的餘映， 時間的長河，最終映對著的是人們對自然的初心。
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/exhibition5.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">會動的文藝復興</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                全球首展「會動的文藝復興」藝術大展，一次看到36家世界級博物館及美術館的文藝復興時期24位藝術大師200幅名畫，以及「世界文化遺產」聖母百花大教堂穹頂的巨幅濕壁畫「末日審判」。「會動的文藝復興」將於2022/06/03-09/11於高雄國立科學工藝博物館盛大展出。展覽最大焦點是將百花大教堂穹頂濕壁畫從義大利佛羅倫斯「搬」到台灣來，這是全球第一個與世界著名教堂合作的創舉，觀眾可以透過數位多媒體的方式10公尺近距離欣賞百花大教堂紅磚大圓拱頂的壯麗宏偉，以及壁畫「末日審判」構圖繁複精細，採用透視法讓穹頂無限伸延的視覺震撼。
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/exhibition6.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">臺南建築三年展</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart fa-regular" style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                〈臺南建築三年展—建築：之間的「距」「離」〉為社團法人台南市建築師公會與本館共同辦理之展覽，於2022年3月至8月期間由建築公會策畫多場不同主題的建築系列講座及活動，從心理、物理、地理及時間，從拆解關係到建立關係，來確認不同角色與其自身近傍（諸如物件/空間/建物/街廓/城市）之間的『距離』的藝術行動，拉近民眾與生活、民眾與建築、民眾與建築人的距離。
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@

@section Styles{
    <style>
        .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>

}

@section Scripts{
    <script>
        const hearts = document.querySelectorAll("#btn_heart");
        console.log(hearts);
        hearts.forEach(function (heart) {
            heart.addEventListener("click", () => {
                $(this).toggleClass("fa-regular")
            })
        })

    </script>
}