
@{
    ViewData["Title"] = "List";
}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-5" style="background-image: url('/img/Viewh.jpg');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">景點列表</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>請選擇縣市</option>
                                <option value="1">台北</option>
                                <option value="2">台南</option>
                                <option value="3">高雄</option>
                                <option value="4">台東</option>
                                <option value="5">雲林</option>
                                <option value="6">台中</option>

                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>評價高到低</option>
                                <option value="1">評價低到高</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>人氣高到低</option>
                                <option value="1">人氣低到高</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100">搜尋</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
<!-- Room Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">商品列表</h6>
            <h1 class="mb-5">景點 <span class="text-primary text-uppercase">列表</span></h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="row g-4">
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/View1.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">世界宗教博物館門票</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                日本伊勢神宮、台灣路思義教堂、印尼婆羅浮屠、以色列圓頂清真寺……等十座知名世界經典宗教建築，其建築格局、細部空間與對稱之美，皆具體而微地濃縮到 1/30 或 1/50
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/View2.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">遠雄海洋公園門票</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                水中精靈「海豚傳說 - 跳浪奇緣」、活潑逗趣「海獅小學堂」、國際級表演「奇妙海洋慶典」、動畫實境劇場「美人魚的神秘傳說」、浩瀚海底世界「大洋池的生態奧秘」
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/View3.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">野柳海洋世界</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                野柳海洋世界為台灣第一座展示海洋哺乳類動物之展館，走過三十年，今日的海洋劇場成為以海洋哺乳類生態知識為主題的生態展演劇場，在維納斯海岸環抱、遙望基隆嶼的絕美海岸線風光中，為您揭開蔚藍海洋的神秘面紗。
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/View4.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">六福村票券</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                六福村主題遊樂園，簡稱六福村，是一座位於臺灣新竹縣關西鎮的主題樂園。為六福開發旗下的企業之一。前身為1979年成立的六福村野生動物園，在1989年時開始規劃擴建成為主題樂園，於1994年開放第一個主題園區「美國大西部」。目前遊樂園內共分為五大主題區域，分別是「中央魔術噴泉」、「美國大西部」、「南太平洋」、「阿拉伯皇宮」和「非洲部落」（野生動物園）
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/View5.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">麗寶票券</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                麗寶樂園渡假區是位於臺灣台中市后里區的大型渡假區，是臺灣第一個民間興建營運後轉移模式（BOT）休閒產業開發案，2000年7月1日開園時為長億關係企業經營的「月眉育樂世界」，2006年改由麗寶建設接手經營，2012年更名「麗寶樂園」，2018年更為現名。園區目前共分為「馬拉灣」與「探索世界」水陸兩個部分，以及後續增建的「福容大飯店（麗寶樂園店）」、「密室逃脫旗艦館」、「麗寶OUTLET MALL（一期、二期）」、「麗寶樂園休息站」、「麗寶國際賽車場」與「摩天輪－天空之夢」。
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="~/img/View6.jpg" alt="">
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">劍湖山票券</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart fa-regular" style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3 ellipsis">
                                劍湖山世界是臺灣知名主題遊樂園，通稱劍湖山，位於雲林縣古坑鄉永光村劍湖附近，綜合「休閒、遊樂、文化、科技」四大功能。全園佔地面積60多公頃，主要大型熱門活動常見為痛車[1]，為嘉義耐斯企業旗下之大型遊樂園。和義大世界、六福村、九族文化村並稱臺灣遊樂園的「一三六九」。
                            </p>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Live", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Live", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@

@section Styles{
    <style>
        .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>

}

@section Scripts{
    <script>
        const hearts = document.querySelectorAll("#btn_heart");
        console.log(hearts);
        hearts.forEach(function (heart) {
            heart.addEventListener("click", () => {
                $(this).toggleClass("fa-regular")
            })
        })

    </script>
}