@{
    ViewData["Title"] = "List";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-5" style="background-image: url('/img/Couponh.jpg');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">特惠組合</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>所有城市</option>
                                <option value="1">台北</option>
                                <option value="2">高雄</option>
                                <option value="3">花蓮</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>價格高到低</option>
                                <option value="1">價格低到高</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>評價高到低</option>
                                <option value="1">評價低到高</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>人氣高到低</option>
                                <option value="1">人氣低到高</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100">搜尋</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
<!-- Room Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">商品列表</h6>
            <h1 class="mb-5">超值特惠 <span class="text-primary text-uppercase">組合</span></h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="row g-4">
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="/img/Coupon1.jpg" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">原售價打 XX 折</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">台北好行</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3" data-bs-toggle="collapse" data-bs-target="#Coupon1" aria-expanded="false" aria-controls="#Coupon1">產品介紹</p>
                            <div class="list-group list-group-flush collapse" id="Coupon1">
                                <p>普立茲獎80週年展</p>
                                <p>台北喜來登大飯店｜十二廚</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Coupon", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Coupon", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="/img/Coupon2.jpg" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">原售價打 XX 折</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">高雄好行</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3" data-bs-toggle="collapse" data-bs-target="#Coupon2" aria-expanded="false" aria-controls="#Coupon2">產品介紹</p>
                            <div class="list-group list-group-flush collapse" id="Coupon2">
                                <p>高雄翰品酒店 | 品日式料理</p>
                                <p>會動的文藝復興 </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Coupon", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Coupon", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="/img/Coupon3.jpg" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">原售價打 XX 折</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">台中之旅</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3" data-bs-toggle="collapse" data-bs-target="#Coupon3" aria-expanded="false" aria-controls="#Coupon3">產品介紹</p>
                            <div class="list-group list-group-flush collapse" id="Coupon3">
                                <p>侏羅紀Ｘ恐龍3.0 台中站</p>
                                <p>台中長榮桂冠自助餐</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Coupon", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Coupon", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="img/room-1.jpg" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">原售價打 XX 折</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">台南一日遊</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3" data-bs-toggle="collapse" data-bs-target="#Coupon4" aria-expanded="false" aria-controls="#Coupon4">產品介紹</p>
                            <div class="list-group list-group-flush collapse" id="Coupon4">
                                <p>頑皮世界野生動物園</p>
                                <p>漢來海港城南紡夢時代店</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Coupon", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Coupon", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="img/room-1.jpg" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">原售價打 XX 折</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">台東溫泉之旅</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3" data-bs-toggle="collapse" data-bs-target="#Coupon5" aria-expanded="false" aria-controls="#Coupon5">產品介紹</p>
                            <div class="list-group list-group-flush collapse" id="Coupon5">
                                <p>台東桂田喜來登酒店</p>
                                <p>桂田酒店｜阿力海百匯餐廳 </p>
                                <p>知本國家森林遊樂園</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Coupon", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Coupon", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
                @*商品組件*@
                <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="img/room-1.jpg" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">原售價打 XX 折</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">宜蘭田野之旅</h5>
                                <div class="ps-2">
                                    <i id="btn_heart" class="fa-solid fa-heart " style="padding:0px 0 0 10px ;font-size:150% "></i>
                                    <small class="fa fa-star text-primary"><span> 5.0</span></small>
                                </div>
                            </div>
                            <p class="text-body mb-3" data-bs-toggle="collapse" data-bs-target="#Coupon6" aria-expanded="false" aria-controls="#Coupon6">
                                產品介紹
                            </p>
                            <div class="list-group list-group-flush collapse" id="Coupon6">
                                <p>宜蘭二結穀倉稻農文化館</p>
                                <p>蘭城百匯自助餐廳</p>
                                <p>煙波大飯店 宜蘭館</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                @Html.ActionLink("細節", "Detail", "Coupon", null,
                               new { Class = "btn btn-sm btn-primary rounded py-2 px-4" })
                                @Html.ActionLink("訂購", "Order", "Coupon", null,
                               new { Class = "btn btn-sm btn-dark rounded py-2 px-4" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@